<template name="home">
<!--Main search cover photo-->
<div class="jumbotron cover-photo">
	<div class="container padding-header" id="header">
		<h1 class="w3-jumbo w3-text-white"><b>Book a table</b></h1>
		<h1 class="w3-xxxlarge color-text"><b>book-at-able</b></h1>
		<hr style="width:50px;border:5px solid" class="w3-round color-text">
		{{> searchEngine}}
	</div>
</div>
<!--END main search cover photo-->
<!--Top 6 most popular restaurants-->
<div class="container padding-35">
<h1 class="w3-xxlarge text-5 w3-center"><b>Most popular restaurants</b></h1>
<hr>
{{#each Restaurants}}
<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="thumbnail">
        <!-- <div class="jumbotron" style="background-image: url('{{avatar.url}}'); height: 150px"> -->
          <!-- <a href="{{this.url}}"> -->
            <!-- <img src="{{avatar.url}}" class="image-header"/> -->
          <!-- </a> -->
        <!-- </div> -->
        {{#if avatar}}
        <img class="img-responsive" src="{{avatar.url}}" alt="">
        {{else}}
        <img class="img-responsive" src="http://placehold.it/600x300" alt="">
        {{/if}}
        <div class="caption">
            <h4 class="pull-right">{{expensive}}</h4>
            <h4><a href="#">{{name}}</a>
            </h4>
            <p>{{about}}</p>
            <a id="restaurant-details" class="btn btn-default">Reserve >></a>
            {{#if wifi}}
                <span class="fa fa-wifi" title="wifi"></span>
            {{else}}
                <span class="fa fa-wifi color-text-icons" title="wifi"></span>
            {{/if}}
            {{#if food}}
                <span class="fa fa-cutlery" title="food"></span>
            {{else}}
                <span class="fa fa-cutlery color-text-icons" title="food"></span>
            {{/if}}
            {{#if parking}}
                <span class="mdi mdi-parking" title="parking"></span>
            {{else}}
                <span class="fa fa-parking color-text-icons" title="parking"></span>
            {{/if}}
            {{#if terrace}}
                <span class="fa fa-tree" title="terrace"></span>
            {{else}}
                <span class="fa fa-tree color-text-icons" title="terrace"></span>
            {{/if}}
            {{#if pet_friendly}}
                <span class="fa fa-paw" title="pet-friendly"></span>
            {{else}}
                <span class="fa fa-paw color-text-icons" title="pet-friendly"></span>
            {{/if}}
            {{#if creditcard_accepted}}
                <span class="fa fa-credit-card" title="credit card accepted"></span>
            {{else}}
                <span class="fa fa-credit-card color-text-icons" title="credit card accepted"></span>
            {{/if}}


            <hr>
        </div>
        <div class="ratings">
            <div class="row">
                <div class="col-xs-6" style="padding-right:0">
                    <p>
                        {{#each ratings}}
                            {{#if this}}
                                <span class="fa fa-star"></span>
                            {{else}}
                                <span class="fa fa-star-o"></span>
                            {{/if}}
                        {{/each}}
                    </p>
                </div>
                <div class="col-xs-6" style="padding-left:0"><p class="pull-right">{{nb_reviews}} reviews</p></div>
            </div>
        </div>
    </div>
</div>
{{/each}}
</div>
<!--END of top 6 most popular restaurants-->
</template>