<template name="myReservations">
<div class="container padding-35">
    <h1>My reservations</h1>
    <div class="table-responsive padding-35">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Restaurant</th>
                    <th>Date</th>
                    <th>Persons</th>
                    <th>Time of arrival</th>
                    <th>Time of leave</th>
                    <th></th>
                </tr>
            </thead>
		    {{#each Reservations}}
				{{#each reservations}}
	            <tbody>
	                <tr>
	                    <td>{{../restaurant_name}}</td>
	                    <td>{{res_date}}</td>
	                    <td>{{persons}}</td>
	                    <td>{{start_time}}</td>
	                    <td>{{end_time}}</td>
	                    <td><a class="btn btn-danger">Delete</a></td>
	                </tr>
				</tbody>
				{{/each}}
		    {{/each}}
    	</table>
	</div>
</div>
</template>