<template name="restaurant">
{{#each RestaurantView}}
<div class="row hidden-row w3-border-bottom w3-border-light-grey" style="background-color: #f5f5f5">
    <div class="container" style="padding-top: 7px; padding-bottom: 7px">
    <div class="col-xs-12 smaller-fonts">
        <ol class="breadcrumb w3-right" style="margin-bottom: 0px">
            <li>
                <i class="fa fa-home"></i>  <a href="{{pathFor route='search'}}">Search</a>
            </li>
            <li class="active">
                <i class="fa fa-cutlery"></i> {{name}}
            </li>
        </ol>
    </div>
    </div>
</div>

<form class="w3-hide-medium w3-hide-large search-small w3-border-bottom w3-border-light-grey" id="search-form2">
    <div class="w3-row">
        <div class="col-sm-2 padding-8">
            <select required class="form-control" style="border-radius:0px;" name="people2" id="people2">
                <option disabled="disabled" selected="selected" value="">How many people</option>
                {{#each persons}}
                    <option {{selectedClassPeople}} value="{{value}}">{{string}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-2 padding-8">
            <input required class="form-control" type="date" min="{{currentDate}}" max="{{maximumDate}}" name="when2" id="when2" value="{{selectedDate}}">
        </div>
        <div class="col-sm-2 padding-8">
            <select class="form-control" style="border-radius:0px;" name="arrival_hour2" id="arrival_hour2">
                <option disabled="disabled" selected="selected" value="">Arrival</option>
                {{#each arrival_hours}}
                    <option {{selectedClassArrival}} value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-2 padding-8">
            <select class="form-control" style="border-radius: 0px;" name="leaving_hour2" id="leaving_hour2">
                <option disabled="disabled" selected="selected" value="">Leave</option>
                <option value="">Don't know</option>
                {{#each leaving_hours}}
                    <option {{selectedClassLeave}} value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-2 padding-8">
            <button type="submit" class="search-btn w3-button w3-block w3-blue w3-text-white"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
</form>

<div class="container w3-padding-32">
	<div class="row">
		<div class="col-sm-8">
			<div class="thumbnail">
				{{#if avatar}}
		        <img class="img-responsive" src="{{avatar.url}}" alt="">
		        {{else}}
		        <img src="http://placehold.it/600x250" alt="">
		        {{/if}}
				<div class="caption-full">
    				<div class="w3-row w3-padding-16 margin-minus-buttons">
    					{{#each freeTables}}
    					<div class="w3-col s4 button-padding">
    						<div id="reserve" name="{{this}}" data-toggle="modal" class="w3-button w3-block w3-round w3-small w3-text-white color-base8">
    							{{this.hour}}
    						</div>
    					</div>
    					{{/each}}
    				</div>
                    <!-- The Modal -->
                    {{> reservationModal}}

					<div class="w3-row">
                        <div class="w3-col s6"><h1><b>{{name}}</b></h1></div>
                        <div class="w3-col s6" style="text-align:right">
                            <h4>
                            {{#if wifi}}
                                <span class="fa fa-wifi" title="wifi"></span>
                            {{else}}
                                <span class="fa fa-wifi color-text-icons" title="wifi"></span>
                            {{/if}}
                            {{#if food}}
                                <span class="fa fa-cutlery" title="food"></span>
                            {{else}}
                                <span class="fa fa-cutlery color-text-icons" title="food"></span>
                            {{/if}}
                            {{#if parking}}
                                <span class="mdi mdi-parking" title="parking"></span>
                            {{else}}
                                <span class="mdi mdi-parking color-text-icons" title="parking"></span>
                            {{/if}}
                            {{#if terrace}}
                                <span class="fa fa-tree" title="terrace"></span>
                            {{else}}
                                <span class="fa fa-tree color-text-icons" title="terrace"></span>
                            {{/if}}
                            {{#if pet_friendly}}
                                <span class="fa fa-paw" title="pet-friendly"></span>
                            {{else}}
                                <span class="fa fa-paw color-text-icons" title="pet-friendly"></span>
                            {{/if}}
                            {{#if creditcard_accepted}}
                                <span class="fa fa-credit-card" title="credit card accepted"></span>
                            {{else}}
                                <span class="fa fa-credit-card color-text-icons" title="credit card accepted"></span>
                            {{/if}}
                            </h4>
                        </div>
                    </div>
					<hr>
					<p>{{about}}</p>
					<p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
					<p>Want to make these reviews work? Check out
						<strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
						</strong>over at maxoffsky.com!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <hr class="style7">
				</div>
				<div class="ratings">
					<div class="row">
						<div class="col-xs-7">
							<p>
								{{#each ratings}}
									{{#if this}}
										<span class="glyphicon glyphicon-star"></span>
									{{else}}
										<span class="glyphicon glyphicon-star-empty"></span>
									{{/if}}
								{{/each}}
								{{ratings_total}}
							</p>
						</div>
						<div class="col-xs-5"><p class="pull-right">{{nb_reviews}} reviews</p></div>
					</div>
				</div>
			</div>
			<div class="well">
			{{#if currentUser}}
			<form id="leave-review">
				<div class="row">
					<div class="col-sm-8 col-md-8">
						<div class="form-group">
							<input id="review" class="form-control" type="text">
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<input id="submit-review" type="submit" class="btn btn-success pull-right" value="Leave a Review">
					</div>
				</div>
				<div id="star-1" class="w3-button w3-small w3-text-black">
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
				<div id="star-2" class="w3-button w3-small w3-text-black">
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
				<div id="star-3" class="w3-button w3-small w3-text-black">
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
				<div id="star-4" class="w3-button w3-small w3-text-black">
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
				<div id="star-5" class="w3-button w3-small w3-text-black">
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
			</form>
			{{/if}}
			{{#each reviewsList}}
				<hr>
				<div class="row">
					<div class="col-md-12">
						{{#each this.stars}}
							{{#if this}}
								<span class="glyphicon glyphicon-star"></span>
							{{else}}
								<span class="glyphicon glyphicon-star-empty"></span>
							{{/if}}
						{{/each}}
						{{this.name}}
						<span class="pull-right">{{this.date_inserted}}</span>
						<p>{{this.review}}</p>
					</div>
				</div>
			{{/each}}
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4><b>Opening hours: </b></h4><h5>Monday - Saturday</h5><h5>{{opening}} - {{closing}}</h5>
					<h4><b>Location: </b></h4><h5>{{location}}</h5>
					<h4><b>Phone number: </b></h4><h5>{{phone_nb}}</h5>
					<h4><b>E-mail address: </b></h4><h5>{{email}}</h5>
					<h4><b>Expensive:</b></h4><h5>{{expensive}}</h5>
					<br><br>
					<a id="contact-restaurant" class="btn btn-lg btn-info btn-block">Contact</a>
				</div>
                <!-- The Modal -->
                {{> contactModal}}

			</div>
		</div>
	</div>
</div>
{{/each}}
</template>
