<template name="restaurant">
{{#each RestaurantView}}
<div class="container w3-padding-32">
	<div class="row w3-margin-bottom">
		<form class="form-horizontal" id="search-form">
			<div class="col-sm-9">
				<div class="row">
					<div class="col-sm-3">
						<div class="form-group">
							<div class="col-sm-12">
								<select required class="w3-input w3-border" name="people" id="people">
									<option disabled="disabled" selected="selected" value="">How many people</option>
									{{#each persons}}
										<option {{selectedClassPeople}} value="{{value}}">{{string}}</option>
									{{/each}}
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<div class="col-sm-12">
								<input required class="w3-input w3-border" type="date" min="{{currentDate}}" max="{{maximumDate}}" name="when" id="when" value="{{selectedDate}}">
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<div class="col-sm-12">
								<select class="w3-input w3-border" name="arrival_hour" id="arrival_hour">
									<option disabled="disabled" selected="selected" value="">Arrival</option>
									{{#each arrival_hours}}
										<option {{selectedClassArrival}} value="{{this}}">{{this}}</option>
									{{/each}}
								</select>
							</div>
						</div>
					</div>
					<div class="col-sm-3">
						<div class="form-group">
							<div class="col-sm-12">
								<select class="w3-input w3-border" name="leaving_hour" id="leaving_hour">
									<option disabled="disabled" selected="selected" value="">Leave</option>
									<option value="">Don't know</option>
									{{#each leaving_hours}}
										<option {{selectedClassLeave}} value="{{this}}">{{this}}</option>
									{{/each}}
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<input type="submit" class="w3-button w3-block color-base6 w3-text-white w3-margin-bottom" value="SEARCH">
			</div>
		</form>
	</div>
	<div class="row">
		<div class="col-sm-8">
			<div class="thumbnail">
				<img class="img-responsive" src="restaurant-all.jpg" alt="">
				<div class="caption-full">
    				<div class="w3-row w3-padding-16 margin-minus-buttons">
    					{{#each freeTables}}
    					<div class="w3-col s4 button-padding">
    						<div id="reserve" name="{{this}}" data-toggle="modal" class="w3-button w3-block w3-round w3-small w3-text-white color-base5">
    							{{this.hour}}
    						</div>
    					</div>
    					{{/each}}
    				</div>
                    <!-- The Modal -->
                    {{> reservationModal}}

					<h1><b>{{name}}</b></h1>
					<hr>
					<p>{{about}}</p>
					<p>See more snippets like these online store reviews at <a target="_blank" href="http://bootsnipp.com">Bootsnipp - http://bootsnipp.com</a>.</p>
					<p>Want to make these reviews work? Check out
						<strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
						</strong>over at maxoffsky.com!</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    <hr class="style7">
				</div>
				<div class="ratings">
					<div class="row">
						<div class="col-xs-7">
							<p>
								{{#each ratings}}
									{{#if this}}
										<span class="glyphicon glyphicon-star"></span>
									{{else}}
										<span class="glyphicon glyphicon-star-empty"></span>
									{{/if}}
								{{/each}}
								{{ratings_total}}
							</p>
						</div>
						<div class="col-xs-5"><p class="pull-right">{{nb_reviews}} reviews</p></div>
					</div>
				</div>
			</div>
			<div class="well">
			{{#if currentUser}}
			<form id="leave-review">
				<div class="row">
					<div class="col-sm-8 col-md-8">
						<div class="form-group">
							<input id="review" class="form-control" type="text">
						</div>
					</div>
					<div class="col-sm-4 col-md-4">
						<input id="submit-review" type="submit" class="btn btn-success pull-right" value="Leave a Review">
					</div>
				</div>
				<div id="star-1" class="w3-button w3-small w3-text-black">
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
				<div id="star-2" class="w3-button w3-small w3-text-black">
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
				<div id="star-3" class="w3-button w3-small w3-text-black">
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
				<div id="star-4" class="w3-button w3-small w3-text-black">
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
				<div id="star-5" class="w3-button w3-small w3-text-black">
					<span class="glyphicon glyphicon-star-empty"></span>
				</div>
			</form>
			{{/if}}
			{{#each reviewsList}}
				<hr>
				<div class="row">
					<div class="col-md-12">
						<!-- <span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span>
						<span class="glyphicon glyphicon-star"></span> -->
						{{#each this.stars}}
							{{#if this}}
								<span class="glyphicon glyphicon-star"></span>
							{{else}}
								<span class="glyphicon glyphicon-star-empty"></span>
							{{/if}}
						{{/each}}
						{{this.name}}
						<span class="pull-right">{{this.date_inserted}}</span>
						<p>{{this.review}}</p>
					</div>
				</div>
			{{/each}}
			</div>
		</div>
		<div class="col-sm-4">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4><b>Opening hours: </b></h4><h5>Monday - Saturday</h5><h5>10:00 - 24:00</h5>
					<h4><b>Location: </b></h4><h5>{{location}}</h5>
					<h4><b>Phone number: </b></h4><h5>{{phone_nb}}</h5>
					<h4><b>E-mail address: </b></h4><h5>{{email}}</h5>
					<h4><b>Expensive:</b></h4><h5>{{expensive}}</h5>
					<h4><b>Pet-friendly:</b></h4><h5>yes/no</h5>
					<br><br>
					<a class="btn btn-lg btn-info btn-block">Contact</a>
				</div>
				
			</div>
		</div>
	</div>
</div>
{{/each}}
</template>
