<template name="restaurantTables">
{{#if admin}}
<div class="container-fluid">
	<!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Tables
                <small>{{restaurantName}}</small>
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="{{pathFor route='myRestaurant'}}">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-file"></i> Tables
                </li>
            </ol>
        </div>
    </div>
	<div class="row w3-margin-bottom">
	<div class="col-sm-5">
        <div class="panel panel-green">
            <div class="panel-heading">
                <h3 class="panel-title">Add new table</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Number of seats</label>
                        <select required class="w3-input w3-border" name="people" id="people">
                                <option value="1 person">1 person</option>
                            {{#each persons}}
                                <option value="{{this}}">{{this}} people</option>
                            {{/each}}
                        </select>
                    </div>
            
                    <button type="submit" id="submit-table" class="btn btn-success">Add</button>
                    <button type="reset" class="btn btn-default">Reset</button>
                </form>
            </div>
        </div>
	</div>
    {{#if showTable}}
    <div class="col-sm-5">
        <div class="panel panel-yellow">
            <div class="panel-heading">
                <h3 class="panel-title">Edit table</h3>
            </div>
            <div class="panel-body">
                <form role="form">
                    <div class="form-group">
                        <label>Seats for table number {{tablenumber}}</label>
                        <input id="seats" class="form-control" value="{{tableseats}}">
                    </div>
                    <button type="submit" id="update-table" class="btn btn-warning">Save</button>
                    <a id="close-edit" class="btn btn-default">Close</a>
                </form>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if showAlert}}
        <div class="col-sm-12 w3-padding-16">
            <div id="alertMessage" class="alert {{alertType}} alert-dismissable">
                <a class="panel-close close" data-dismiss="alert">×</a> 
                {{alertMessage}}
            </div>
        </div>
    {{/if}}
    </div>
    <div class="table-responsive padding-35">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Seats</th>
                    <th>Reservations</th>
                    <th></th>
                </tr>
            </thead>
            {{#each tables}}
                <tbody>
                    <tr>
                        <td>{{number}}</td>
                        <td>{{seats}}</td>
                        <td>{{reservations.length}}</td>
                        <td>
	                        <a id="table-edit" class="btn btn-info">Edit</a>
	                        <a id="table-remove" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>
            {{/each}}
        </table>
    </div>
</div>
{{else}}
    <div class="alert alert-danger">
        <strong>Warning!</strong> There are no admin rights for your account!
    </div>
{{/if}}
</template>