<template name="restaurantReservations">
{{#if admin}}
<div class="container-fluid w3-margin-bottom">
	<!-- Page Heading -->
	<div class="row">
	    <div class="col-lg-12">
	        <h1 class="page-header">
                Reservations
                <small>{{restaurantName}}</small>
            </h1>
	        <ol class="breadcrumb">
	            <li>
	                <i class="fa fa-dashboard"></i>  <a href="{{pathFor route='myRestaurant'}}">Dashboard</a>
	            </li>
	            <li class="active">
	                <i class="fa fa-edit"></i> Reservations
	            </li>
	        </ol>
	    </div>
	</div>
<!-- /.row -->
	<div class="row">
		<div class="col-lg-12">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title">Reserved tables</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive padding-35">
                    {{#each Reservations}}
                    {{#if this.reservations.length}}
                    <h4>Table number: {{number}}</h4>
                    <h5>Seats: {{seats}}</h5>
				        <table class="table table-hover">
				            <thead>
				                <tr>
				                    <th>Reservation date</th>
				                    <th>Persons</th>
				                    <th>Email</th>
				                    <th>Phone number</th>
				                    <th>Time of arrival</th>
				                    <th>Time of leave</th>
				                    <th></th>
				                </tr>
				            </thead>
				            	{{#each this.reservations}}
				                <tbody>
				                    <tr>
				                        <td>{{this.res_date}}</td>
				                        <td>{{this.persons}}</td>
				                        <td>{{this.email}}</td>
				                        <td>{{this.phonenb}}</td>
				                        <td>{{this.start_time}}</td>
				                        <td>{{this.end_time}}</td>
				                        <td><a id="{{../_id}}" class="remove-reservation btn btn-danger">Delete</a></td>
				                    </tr>
				                </tbody>
				                {{/each}}
				        </table>
				    <h5>Add new reservation to this table</h5>
				    <div class="row margin-minus-row" id="submit-new-reservation">
				    <form class="form-horizontal" id="reservation-form">
						<div class="col-sm-7">
							<div class="row">
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<input required class="w3-input w3-border" type="date" min="{{currentDate}}" max="{{maximumDate}}" name="when" id="when">
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<select class="w3-input w3-border" name="arrival_hour" id="arrival_hour">
												<option disabled="disabled" selected="selected" value="">Arrival</option>
												{{#each arrival_hours}}
													<option value="{{this}}">{{this}}</option>
												{{/each}}
											</select>
										</div>
									</div>
								</div>
								<div class="col-sm-4">
									<div class="form-group">
										<div class="col-sm-12">
											<select class="w3-input w3-border" name="leaving_hour" id="leaving_hour">
												<option disabled="disabled" selected="selected" value="">Leave</option>
												<option value="">Don't know</option>
												{{#each leaving_hours}}
													<option value="{{this}}">{{this}}</option>
												{{/each}}
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
						<button type="submit" id="add-reservation" class="btn btn-success">ADD</button>
						</div>
					</form>
					</div>

					<div class="alert {{alertTypeRes}} alert-dismissable hidden-alert {{_id}}">
					  	<a class="panel-close close" data-dismiss="alert">×</a> 
					    {{alertMessageRes}}
					</div>

			        <hr>
			        {{/if}}
			        {{/each}}
				    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3 class="panel-title">Free tables</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive padding-35">
                    
                    <table class="table table-hover">
			            <thead>
			                <tr>
			                   	<th>Table number</th>
			                    <th>Seats</th>
			                    <th>Add new reservation to this table</th>
			                </tr>
			            </thead>
		                <tbody>
		                {{#each Reservations}}
		                {{#unless this.reservations.length}}
		                    <tr>
		                        <td>{{number}}</td>
		                        <td>{{seats}}</td>
		                        <td>
		                        	<form class="form-horizontal" id="free-table-form">
										<div class="col-sm-7">
											<div class="row">
												<div class="col-sm-4">
													<div class="form-group">
														<div class="col-sm-12">
															<input required class="w3-input w3-border" type="date" min="{{currentDate}}" max="{{maximumDate}}" name="when" id="when">
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<div class="col-sm-12">
															<select class="w3-input w3-border" name="arrival_hour" id="arrival_hour">
																<option disabled="disabled" selected="selected" value="">Arrival</option>
																{{#each arrival_hours}}
																	<option value="{{this}}">{{this}}</option>
																{{/each}}
															</select>
														</div>
													</div>
												</div>
												<div class="col-sm-4">
													<div class="form-group">
														<div class="col-sm-12">
															<select class="w3-input w3-border" name="leaving_hour" id="leaving_hour">
																<option disabled="disabled" selected="selected" value="">Leave</option>
																<option value="">Don't know</option>
																{{#each leaving_hours}}
																	<option value="{{this}}">{{this}}</option>
																{{/each}}
															</select>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="col-sm-4">
										<button type="submit" id="add-reservation" class="btn btn-success">ADD</button>
										</div>
									</form>
		                        </td>
		                    </tr>
			        	{{/unless}}
			        	{{/each}}

		                </tbody>
			        </table>
				    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{else}}
    <div class="alert alert-danger">
        <strong>Warning!</strong> There are no admin rights for your account!
    </div>
{{/if}}
</template>