<template name="search">
<div class="container padding-35" id="header">
	{{> searchEngine}}
</div>
<!-- =========== -->
<div class="container">
<h1 class="w3-xxlarge w3-center" id="results"><b>Search results{{searchLocation}}</b></h1>
<hr>
{{#each Restaurants}}
<div class="col-sm-4 col-lg-4 col-md-4">
	<div class="thumbnail">
		<img src="http://placehold.it/320x150" alt="">
		<div class="caption">
			<div class="w3-row margin-minus-buttons" style="min-height: 33px">
				{{#each Tables}}
				<div class="w3-col s4 button-padding">
					<div id="reserve" name="{{this}}" restId="{{../_id}}" data-toggle="modal" class="w3-button w3-block w3-round w3-small w3-text-white color-base5">
						{{this.hour}}
					</div>
				</div>
				{{/each}}
			</div>
            <!-- The Modal -->
            {{> reservationModal}}
			<h4 class="pull-right">{{expensive}}</h4>
			<h4><a id="restaurant-details" style="cursor:default">{{name}}</a>
			</h4>
			<p>{{about}}</p>
			<a id="restaurant-details" class="btn btn-default">Reserve >></a>
			<hr>
		</div>
		<!-- <div class="ratings">
			<p class="pull-right">18 reviews</p>
			<p>
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star"></span>
				<span class="glyphicon glyphicon-star-empty"></span>
			</p>
		</div> -->
		<div class="ratings">
			<div class="row">
				<div class="col-xs-6" style="padding-right:0">
					<p>
						{{#each ratings}}
							{{#if this}}
								<span class="glyphicon glyphicon-star"></span>
							{{else}}
								<span class="glyphicon glyphicon-star-empty"></span>
							{{/if}}
						{{/each}}
					</p>
				</div>
				<div class="col-xs-6" style="padding-left:0"><p class="pull-right">{{nb_reviews}} reviews</p></div>
			</div>
		</div>
	</div>
</div>
{{/each}}
</div>
</template>