<template name="search">
<div class="row hidden-row w3-border-bottom w3-border-light-grey" style="background-color: #f5f5f5">
    <div class="container" style="padding-top: 7px; padding-bottom: 7px">
    <div class="col-xs-5">
    	<p style="margin: 0px; float:left; padding: 8px 15px 8px 0px;">Search results{{searchLocation}} : {{totalRestaurants}}</p>
    </div>
    <div class="col-xs-7 smaller-fonts">
        <ol class="breadcrumb w3-right" style="margin-bottom: 0px">
            <li>
                <i class="fa fa-home"></i>  <a href="{{pathFor route='home'}}">Home</a>
            </li>
            <li class="active">
                <i class="fa fa-th"></i> Search results
            </li>
        </ol>
    </div>
    </div>
</div>

<form class="w3-hide-medium w3-hide-large search-small w3-border-bottom w3-border-light-grey" id="search-form2">
    <div class="w3-row">
        <div class="col-sm-2 padding-8">
            <select class="form-control" style="border-radius:0px;" name="location2" id="location2">
                <option disabled="disabled" selected="selected" value="">Select your location</option>
                {{#each locations}}
                    <option {{selectedClass}} value="{{name}}">{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-2 padding-8">
            <select required class="form-control" style="border-radius:0px;" name="people2" id="people2">
                <option disabled="disabled" selected="selected" value="">How many people</option>
                {{#each persons}}
                    <option {{selectedClassPeople}} value="{{value}}">{{string}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-2 padding-8">
            <input required class="form-control" type="date" min="{{currentDate}}" max="{{maximumDate}}" name="when2" id="when2" value="{{selectedDate}}">
        </div>
        <div class="col-sm-2 padding-8">
            <select class="form-control" style="border-radius:0px;" name="arrival_hour2" id="arrival_hour2">
                <option disabled="disabled" selected="selected" value="">Arrival</option>
                {{#each arrival_hours}}
                    <option {{selectedClassArrival}} value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-2 padding-8">
            <select class="form-control" style="border-radius: 0px;" name="leaving_hour2" id="leaving_hour2">
                <option disabled="disabled" selected="selected" value="">Leave</option>
                <option value="">Don't know</option>
                {{#each leaving_hours}}
                    <option {{selectedClassLeave}} value="{{this}}">{{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="col-sm-2 padding-8">
            <button type="submit" class="search-btn w3-button w3-block w3-blue w3-text-white"><i class="fa fa-search" aria-hidden="true"></i></button>
        </div>
    </div>
</form>
<!-- ==========filters========== -->
<div class="row filters w3-margin-bottom">
    <div class="container smaller-fonts">
        <div class="col-xs-2 col-sm-2 col-md-1 demo1">
            <button class="w3-button color-base7 w3-hover-none border-transparent w3-border-bottom w3-hover-border-yellow w3-hover-text-yellow w3-left-align" style="padding-left: 0px" data-id='Demo1'>Types <i class="fa fa-angle-down" aria-hidden="true"></i></button>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 demo1">
            <button class="w3-button color-base7 w3-hover-none border-transparent w3-border-bottom w3-hover-border-yellow w3-hover-text-yellow w3-left-align" style="padding-left: 0px" data-id='Demo2'>Facilities <i class="fa fa-angle-down" aria-hidden="true"></i></button>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 demo1">
            <button class="w3-button color-base7 w3-hover-none border-transparent w3-border-bottom w3-hover-border-yellow w3-hover-text-yellow w3-left-align" style="padding-left: 0px" data-id='Demo3'>Sort by <i class="fa fa-angle-down" aria-hidden="true"></i></button>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-1 padding-8 w3-right">
            <div class="map-view">
                {{#if MapView}}
                    <input type="checkbox" checked id="map-view"/>
                {{else}}
                    <input type="checkbox" id="map-view"/>
                {{/if}}
                <label for="map-view"></label>
                <div></div>
            </div>
        </div>
        <div class="col-xs-2 col-sm-2 col-md-1 w3-right" style="padding-right: 0px; text-align: right; vertical-align:middle;">
            <p class="padding-8" style="margin-bottom: 0px">Map view</p>
        </div>
    </div>

    <div id="Demo1" class="w3-hide w3-row w3-border-top w3-border-light-grey smaller-fonts">
        <div class="container" style="padding-top: 20px; padding-bottom: 15px;">
            <div class="w3-row">
                <div class="col-sm-2">
                    <input type="checkbox" checked name="restaurant" id="restaurant" class="css-checkbox" /><label for="restaurant" class="css-label">Restaurant <span class="fa fa-cutlery"></span></label>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" checked name="bar" id="bar" class="css-checkbox" /><label for="bar" class="css-label">Bar <span class="fa fa-glass"></span></label>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" checked name="bistro" id="bistro" class="css-checkbox" /><label for="bistro" class="css-label">Bistro <span class="fa fa-bold"></span></label>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" checked name="pub" id="pub" class="css-checkbox" /><label for="pub" class="css-label">Pub <span class="fa fa-beer"></span></label>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" checked name="pizzeria" id="pizzeria" class="css-checkbox" /><label for="pizzeria" class="css-label">Pizzeria <span class="mdi mdi-pizza"></span></label>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" checked name="coffeehouse" id="coffeehouse" class="css-checkbox" /><label for="coffeehouse" class="css-label">Coffeehouse <span class="fa fa-coffee"></span></label>
                </div>
            </div>
            <!-- Links -->
            <div class="w3-row" style="padding-top: 20px;">
                <a class="w3-hover-none w3-hover-text-yellow check-all-types" style="padding-left: 15px; cursor: pointer"><i class="fa fa-check"></i> Check all</a>
                <a class="w3-hover-none w3-hover-text-yellow uncheck-all-types" style="padding-left: 15px; cursor: pointer"><i class="fa fa-times"></i> Uncheck all</a>
            </div>
        </div>
    </div>
    <div id="Demo2" class="w3-hide w3-row w3-border-top w3-border-light-grey smaller-fonts">
        <div class="container" style="padding-top: 20px; padding-bottom: 15px;">
            <div class="w3-row">
                <div class="col-sm-2">
                    <input type="checkbox" name="wifi" id="wifi" class="css-checkbox" /><label for="wifi" class="css-label">Wifi  <span class="fa fa-wifi"></span></label>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" name="food" id="food" class="css-checkbox" /><label for="food" class="css-label">Food  <span class="fa fa-cutlery"></span></label>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" name="terrace" id="terrace" class="css-checkbox" /><label for="terrace" class="css-label">Terrace  <span class="fa fa-tree"></span></label>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" name="pet-friendly" id="pet-friendly" class="css-checkbox" /><label for="pet-friendly" class="css-label">Pet-friendly  <span class="fa fa-paw"></span></label>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" name="creditcard_accepted" id="creditcard_accepted" class="css-checkbox" /><label for="creditcard_accepted" class="css-label">Credit card accepted <span class="fa fa-credit-card"></span></label>
                </div>
                <div class="col-sm-2">
                    <input type="checkbox" name="parking" id="parking" class="css-checkbox" /><label for="parking" class="css-label">Parking <span class="mdi mdi-parking"></span></label>
                </div>
            </div>
            <!-- Links -->
            <div class="w3-row" style="padding-top: 20px;">
                <a class="w3-hover-none w3-hover-text-yellow check-all" style="padding-left: 15px; cursor: pointer"><i class="fa fa-check"></i> Check all</a>
                <a class="w3-hover-none w3-hover-text-yellow uncheck-all" style="padding-left: 15px; cursor: pointer"><i class="fa fa-times"></i> Uncheck all</a>
            </div>
        </div>
    </div>
    <div id="Demo3" class="w3-hide w3-row w3-border-top w3-border-light-grey smaller-fonts">
        <div class="container" style="padding-top: 20px; padding-bottom: 15px;">
            <div class="col-sm-2">
                <input type="checkbox" name="name-asc" id="name-asc" class="css-checkbox" /><label for="name-asc" class="css-label">Name <span class="fa fa-sort-alpha-asc"></span></label>
            </div>
            <div class="col-sm-2">
                <input type="checkbox" name="name-desc" id="name-desc" class="css-checkbox" /><label for="name-desc" class="css-label">Name <span class="fa fa-sort-alpha-desc"></span></label>
            </div>
            <div class="col-sm-2">
                <input type="checkbox" name="ratings-desc" id="ratings-desc" class="css-checkbox" /><label for="ratings-desc" class="css-label">Ratings <span class="fa fa-sort-amount-desc"></span></label>
            </div>
            <div class="col-sm-3">
                <input type="checkbox" name="expensiveness" id="expensiveness" class="css-checkbox" /><label for="expensiveness" class="css-label">Expensiveness <span class="fa fa-sort-amount-asc"></span></label>
            </div>
        </div>
    </div>
</div>
<!-- =========== -->
{{#if MapView}}
    <!-- <div class="container"> -->
    {{> map}}
{{else}}
    <!-- </div> -->
<!-- {{else}} -->
    <div class="container">

    {{#if showResAlert}} 
    <div id="alertMessage" class="alert {{alertTypeRes}} alert-dismissable">
        <a class="panel-close close" data-dismiss="alert">×</a> 
        {{resMessage}}
    </div>
    {{/if}}

    {{#each Restaurants}}
    {{#if Tables}}
    <div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
    		{{#if avatar}}
            <img class="img-responsive" src="{{avatar.url}}" alt="">
            {{else}}
            <img src="http://placehold.it/320x150" alt="">
            {{/if}}
    		<div class="caption">
    			<div class="w3-row margin-minus-buttons" style="height: 33px">
    				{{#each Tables}}
    				<div class="w3-col s4 button-padding">
    					<div id="reserve" name="{{this}}" restId="{{../_id}}" data-toggle="modal" class="w3-button w3-block w3-round w3-small w3-text-white color-base8">
    						{{this.hour}}
    					</div>
    				</div>
    				{{/each}}
    			</div>
                <!-- The Modal -->
                {{> reservationModal}}
    			<h4 class="pull-right">{{expensive}}</h4>
    			<h4>
                    <a id="restaurant-details" style="cursor:pointer">{{name}}</a>
                    <span class="{{type_icon}}" title="{{type}}"></span>
    			</h4>
    			<p>{{about}}</p>
    			<a id="restaurant-details" class="btn btn-default">Reserve >></a>
    			{{#if wifi}}
                    <span class="fa fa-wifi" title="wifi"></span>
                {{else}}
                    <span class="fa fa-wifi color-text-icons" title="wifi"></span>
                {{/if}}
                {{#if food}}
                    <span class="fa fa-cutlery" title="food"></span>
                {{else}}
                    <span class="fa fa-cutlery color-text-icons" title="food"></span>
                {{/if}}
                {{#if parking}}
                    <span class="mdi mdi-parking" title="parking"></span>
                {{else}}
                    <span class="mdi mdi-parking color-text-icons" title="parking"></span>
                {{/if}}
                {{#if terrace}}
                    <span class="fa fa-tree" title="terrace"></span>
                {{else}}
                    <span class="fa fa-tree color-text-icons" title="terrace"></span>
                {{/if}}
                {{#if pet_friendly}}
                    <span class="fa fa-paw" title="pet-friendly"></span>
                {{else}}
                    <span class="fa fa-paw color-text-icons" title="pet-friendly"></span>
                {{/if}}
                {{#if creditcard_accepted}}
                    <span class="fa fa-credit-card" title="credit card accepted"></span>
                {{else}}
                    <span class="fa fa-credit-card color-text-icons" title="credit card accepted"></span>
                {{/if}}

    			<hr>
    		</div>
    		<div class="ratings">
    			<div class="row">
    				<div class="col-xs-6" style="padding-right:0">
    					<p>
    						{{#each ratings}}
    							{{#if this}}
    								<span class="glyphicon glyphicon-star"></span>
    							{{else}}
    								<span class="glyphicon glyphicon-star-empty"></span>
    							{{/if}}
    						{{/each}}
    					</p>
    				</div>
    				<div class="col-xs-6" style="padding-left:0"><p class="pull-right">{{nb_reviews}} reviews</p></div>
    			</div>
    		</div>
    	</div>
    </div>
    {{/if}}
    {{/each}}
    </div>
{{/if}}
</template>

<template name="map">
    <div style="height:70%;">
        {{> googleMap name="map" options=mapOptions}}
    </div>
</template>
