<template name="searchEngine">
<div class="row w3-margin-bottom">
	<form class="form-horizontal" id="search-form">
		<div class="col-sm-7">
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<div class="col-sm-12">
							<select class="w3-input w3-border" name="location" id="location">
								<option disabled="disabled" selected="selected" value="">Select your location</option>
								{{#each locations}}
									<option {{selectedClass}} value="{{name}}">{{name}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="form-group">
						<div class="col-sm-12">
							<select required class="w3-input w3-border" name="people" id="people">
								<option disabled="disabled" selected="selected" value="">How many people</option>
									<option value="1 person">1 person</option>
								{{#each persons}}
									<option value="{{this}}">{{this}} people</option>
								{{/each}}
									<option value="party">Larger group</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<div class="form-group">
						<div class="col-sm-12">
							<input required class="w3-input w3-border" type="date" min="{{currentDate}}" max="{{maximumDate}}" name="when" id="when">
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<div class="col-sm-12">
							<select class="w3-input w3-border" name="arrival_hour" id="arrival_hour">
								<option disabled="disabled" selected="selected" value="">Arrival</option>
								{{#each arrival_hours}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
				<div class="col-sm-3">
					<div class="form-group">
						<div class="col-sm-12">
							<select class="w3-input w3-border" name="leaving_hour" id="leaving_hour">
								<option disabled="disabled" selected="selected" value="">Leave</option>
								<option value="">Don't know</option>
								{{#each leaving_hours}}
									<option value="{{this}}">{{this}}</option>
								{{/each}}
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-sm-2">
			<input type="submit" class="w3-button w3-block padding-35 color-base4 w3-text-white w3-margin-bottom" value="SEARCH">
		</div>
	</form>
</div>
</template>